.container.my-content {
  min-height: 415px;
}
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.navbar-wagon-brand img {
  height: 50px;
}
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #007bff;
  text-decoration: none;
}
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}
.footer .fa-heart {
  color: #D23333;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #007bff;
}
.collapsible {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}
.collapsible.collapsible:hover {
  background-color: #056bd8;
}
.collapsible.active {
  background-color: #056bd8;
}
.collapsible.active + .content-add-new-list {
  overflow: initial;
}
.content-add-new-list {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f2f2f2;
}
.content-add-new-list > .col-sm-12 {
  padding: 20px 0;
}
.content-add-new-list > .col-sm-12 #descriptionToDo {
  height: 120px;
}
.content-add-new-list > .col-sm-12 .addNewToDo {
  margin: 80px 0 0 0;
}
.content-add-new-list > .col-sm-12 .addNewToDo > .spinner_req {
  display: none;
  margin: 0 0 -9px 10px;
}
.content-add-new-list > .col-sm-12 .addNewToDo #updateToDo {
  display: none;
}
.content-add-new-list > .col-sm-12 {
  padding: 10px 0;
}
.content-add-new-list > .col-sm-12 .addNewTask {
  margin: 30px 0 0 0;
  text-align: right;
}
.content-add-new-list > .col-sm-12 .addNewTask > .spinner_req {
  display: none;
  margin: 0 0 -9px 10px;
}
.content-add-new-list > .col-sm-12 .addNewTask #updateTask {
  display: none;
}
.field-br {
  margin-bottom: 10px;
}
@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
.text-info {
  color: #007bff !important;
}
.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}
#myContent {
  margin: 20px 0;
}
#myContent #myInputFilter {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
#myContent #myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  counter-reset: rowNumber;
}
#myContent #myTable th {
  font-size: 18px;
  text-align: left;
  padding: 10px;
  color: #fff;
  border-right: 1px solid #fff;
  text-align: center;
}
#myContent #myTable th:last-child {
  border-right: 1px solid #ddd;
}
#myContent #myTable td {
  text-align: left;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
}
#myContent #myTable td:first-child,
#myContent #myTable td:last-child {
  text-align: center;
}
#myContent #myTable td.for_date,
#myContent #myTable td.time,
#myContent #myTable td.category,
#myContent #myTable td.status {
  text-align: center;
}
#myContent #myTable td .btn-left {
  border-radius: .25rem 0 0 .25rem;
  margin-right: -5px;
  padding: 3px 10px;
}
#myContent #myTable td .btn-center {
  border-radius: 0% !important;
  margin-right: -5px;
  padding: 3px 10px;
}
#myContent #myTable td .btn-right {
  border-radius: 0 .25rem .25rem 0;
  padding: 3px 10px;
}
#myContent #myTable tr {
  border-bottom: 1px solid #ddd;
}
#myContent #myTable tr:hover {
  background-color: #f1f1f1;
}
#myContent #myTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
#myContent #myTable tr.header {
  background-color: #007bff;
}
.filter .col-sm-4:first-child {
  padding-left: 0% !important;
}
.select-container {
  position: relative;
  width: 170px;
}
.select-container select.my-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  padding-left: 15px;
  box-shadow: 3px 3px 30px #eee;
  transition: 0.2s;
}
.select-container select.my-select:focus {
  box-shadow: 3px 3px 10px #eee;
}
.select-container select.my-select:hover {
  box-shadow: 3px 3px 10px #eee;
  cursor: pointer;
}
.select-container select.my-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.select-container select.my-select::-ms-expand {
  display: none;
}
.select-arrow {
  color: #333;
  right: 0px;
  top: 10px;
  width: 30px;
  position: absolute;
  display: block;
  z-index: 10;
  margin: 0 0 0 0;
  pointer-events: none;
}
.glyphicon-chevron-up,
.glyphicon-chevron-down {
  color: #007bff;
}
