@color_1: #616668;
@color_2: #007bff;
@color_3: #999999;
@color_4: black;
@color_5: rgba(0,0,0,0.3);
@color_6: #D23333;
@background_color_1: white;
@background_color_2: #f1f1f1;
@border_color_1: #E6E6E6;

.container {
	&.my-content {
		min-height: 415px;
	}
}

.navbar-wagon {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
	background: white;
	transition: all 0.3s ease;
	height: 70px;
	padding: 0px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.avatar {
		height: 35px;
		width: 35px;
		border-radius: 50%;
	}
}
.navbar-wagon-brand {
	img {
		height: 50px;
	}
}
.navbar-wagon-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar-wagon-item {
	cursor: pointer;
	padding: 0 20px;
}
.navbar-wagon-link {
	color: @color_1;
	font-size: 14px;
	&:hover {
		color: @color_2;
		text-decoration: none;
	}
}
.navbar-wagon-dropdown-menu {
	margin-top: 15px;
	box-shadow: 1px 1px 4px #E6E6E6;
	border-color: @border_color_1;
	li {
		>a {
			transition: color 0.3s ease;
			font-weight: lighter !important;
			color: @color_3 !important;
			font-size: 15px !important;
			line-height: 22px !important;
			padding: 10px 20px;
			&:hover {
				background: transparent !important;
				color: @color_4 !important;
			}
		}
	}
	&:before {
		content: ' ';
		height: 10px;
		width: 10px;
		position: absolute;
		right: 10px;
		top: -6px;
		background-color: @background_color_1;
		transform: rotate(45deg);
		border-left: 1px solid #E6E6E6;
		border-top: 1px solid #E6E6E6;
	}
}
.footer {
	background: #F4F4F4;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	padding: 0px 50px;
	color: @color_5;
	.fa-heart {
		color: @color_6;
	}
}
.footer-links {
	display: flex;
	align-items: center;
	a {
		color: @color_4;
		opacity: 0.15;
		text-decoration: none;
		font-size: 24px;
		padding: 0px 10px;
		&:hover {
            opacity: 1;
            color: @color_2;
		}
	}
}
.collapsible {
	background-color: @color_2;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	font-weight: bold;
	&.collapsible:hover {
		background-color: #056bd8;
	}
	&.active {
		background-color: #056bd8;
		+ .content-add-new-list {
			overflow: initial;
		}
	}
	  
}
.content-add-new-list {
	padding: 0 20px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f2f2f2;
	> .col-sm-12 {
		padding: 20px 0;
		#descriptionToDo {
			height: 120px;
		}
		.addNewToDo {
			margin: 80px 0 0 0;
			> .spinner_req {
				display: none; 
				margin: 0 0 -9px 10px;
			}
			#updateToDo {
				display: none;
			}
		}
	}

	> .col-sm-12 {
		padding: 20px 0;
		.addNewTask {
			margin: 30px 0 0 0;
			text-align: right;
			> .spinner_req {
				display: none; 
				margin: 0 0 -9px 10px;
			}
			#updateTask {
				display: none;
			}
		}
	}
}
.field-br {
    margin-bottom: 10px;
}
@keyframes spinner-border {
	to { transform: rotate(360deg); }
}

.text-info {
    color: @color_2 !important;
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
#myContent {
	margin: 20px 0;
	> h3 {
		color: @color_2;
	}
    #myInputFilter {
        // background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 20px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        counter-reset: rowNumber;
        th {
            font-size: 18px;
            text-align: left;
            padding: 10px;
            color: #fff;
			border-right: 1px solid #fff;
			text-align: center;
            &:last-child {
                border-right: 1px solid #ddd;
            }
        }
        td {
            text-align: left;
            padding: 5px;
            font-size: 16px;
            border: 1px solid #ddd;
            &:first-child, &:last-child {
                text-align: center;
			}
			&.for_date, &.time, &.category, &.status {
				text-align: center
			}
			&.status {
				&.for-notdone-task {
					text-transform: uppercase;
					color: #dc3545;
					font-weight: bold;
				}
				&.for-done-task {
					text-transform: uppercase;
					color: @color_2;
					font-weight: bold;
				}
			}
			.btn-left {
				border-radius: .25rem 0 0 .25rem;
				margin-right: -5px;
				padding: 3px 10px;
			}
			.btn-center {
				border-radius: 0% !important;
				margin-right: -5px;
				padding: 3px 10px;
			}
			.btn-right {
				border-radius: 0 .25rem .25rem 0;
				padding: 3px 10px;
			}
        }
        tr {
            border-bottom: 1px solid #ddd;
            &:hover {
                background-color: @background_color_2;
            }
            &:nth-child(even) {
                background-color: #f2f2f2;
            }
        }
        tr.header {
            background-color: @color_2;
        }
    }
}
.filter {
	.col-sm-4 {
		&:first-child {
			padding-left: 0% !important;
		}
	}
}

.select-container {
	position: relative;
	width: 170px;

	select.my-select {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance:none;
		outline:none;
		padding-left: 15px;
		box-shadow: 3px 3px 30px #eee;
		transition: 0.2s;
		
		&:focus {
			box-shadow: 3px 3px 10px #eee;
		}

		&:hover {
			box-shadow: 3px 3px 10px #eee;
			cursor: pointer;
		}

		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}

		&::-ms-expand {
			display: none;
		}
	}
}
   
.select-arrow {
	color: #333;
	right:0px;
	top: 10px;
	width:30px;
	position:absolute;
	display:block;
	z-index: 10;
	margin: 0 0 0 0;
	pointer-events:none;
}

.glyphicon-chevron-up, .glyphicon-chevron-down {
	color: @color_2;
}

.modal-content {
	min-width: 350px;;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.nav-tabs {
	margin-bottom: 20px;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: @color_2;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}

#nav-tab {
	> a {
		width: 50%;
	}
}
#nav-drag-drop {
	> .col-sm-12 {
		.col-sm-6 {
			> h5 {
				text-align: center;
				height: 40px;
				padding: 8px;
				color: #fff;

				&.title-task-notdone {
					background: #dc3545;
				}

				&.title-task-done {
					background: @color_2;
				}
			}
	
			&:first-child {
				padding-left: 0%;
			}
	
			&:last-child {
				padding-right: 0%;
			}

			#notDoneTask {
				border: 1px solid #dc3545;
			}
	
			#doneTask {
				border: 1px solid @color_2;
			}

			#notDoneTask, #doneTask {
				float: left;
				width: 100%;
				min-height: 500px;
				padding: 10px;
	
				> .row {
					margin: 0px;
					border: 1px solid #ddd;
					padding: 15px;
					cursor: all-scroll;
					&:nth-child(even) {
						background-color: #f2f2f2;
					}
					#drag_time {
						width: 15%;
					}
					#drag_name_todo_item {
						width: 49%;
						
					}
					#drag_category {
						width: 17%;
						text-align: center;
					}
					#drag_status {
						width: 19%;
						text-align: center;
						&.for-notdone-task {
							text-transform: uppercase;
							color: #dc3545;
							font-weight: bold;
						}
						&.for-done-task {
							text-transform: uppercase;
							color: @color_2;
							font-weight: bold;
						}
					}
				}
			}
		}
		
		.save-task-drag {
			margin: 15px 0;
			.drag-notes {
				margin: 10px 0;
				color: #000;
			}
			#saveTaskDrag {
				width: 100%;
			}
		}
	}
	
}
